{% extends "user_home.html" %}


{% block title%}
Currently Reading
{% endblock %}


{% block user_content %}
<div class="container">
    <h2 class="my-2 text-center text-danger">Currently Reading</h2>
    <div class="row gy-3 my-3 ">
        {% for book in books %}
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card mb-3 mr-3">
                <img src="static/data/img/{{ book.id }}.jpg" style="height: 120px;" class="ratio ratio-1x1 card-img-top"
                    alt="Book Image" />
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{ book.title }}</h5>

                    <p class="card-title mb-4 text-truncate"><code>Author:</code>{{ book.author }}</p>

                    <form method="post">
                        <input class="d-none" name="book_id1" value="{{ book.id }}" />
                        <button class="btn btn-success mb-1" type="submit" name="read">Read</button>
                    </form>

                    <form method="post">
                        <input class="d-none" name="book_id2" value="{{ book.id }}" />
                        <button class="btn btn-primary" type="submit" name="mark_read">Mark Read</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}