<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📖</title>

    <style>
        .pdf-viewer #toolbarViewerMiddle {
            display: none;
        }
    </style>
</head>

<body>
    <center>
        <iframe class="pdf-viewer" src="{{url_for('static', filename='data/pdf/'+file_name)}}#toolbar=0"
            style="height: 95vh; width: 90vw;">
        </iframe>
    </center>
</body>

</html>